

        <section class="Curriculum">

            <h3>Expériences professionnel</h3>
            <div class="CVList">
                 {% embed 'Partials/CVCardList.html.twig' %}{% endembed %}
            </div>

        </section>

