

        <section class="Curriculum">

            <h3>#Expériences (pro etc..)</h3>
                 {% embed 'Partials/CVCardList.html.twig' %}{% endembed %}

            <div class="DownloadCV">
                <p>Vous pouvez également télécharger mon cv au format PDF : <a href="{{ asset('Documents/CVWalidMoussa.pdf') }}" download="CVWalidMoussa.pdf">télécharger</a> </p>
            </div>
        </section>

