
<header>
    <section class="HeaderBarre">
        <section class="Left">
            <h1 class="Title">Walid MOUSSA</h1>
        </section>

        <section class="ContactHeader">
            <ul>
                <li>0664131026</li>
                <li>contact@walidm.xyz</li>
            </ul>
        </section>
    </section>

    <section class="Menu">
        <nav class="MenuNav">
            <ul>
                <li><a href="#" class="LinkNav">Présentation</a></li>
                <li><a href="#" class="LinkNav">Lorem</a></li>
                <li><a href="#" class="LinkNav">Contact</a></li>
            </ul>

        </nav>
    </section>

</header>