
<header>

    <section class="HeaderBarre">

        <section class="Left">

            <h1 class="Title">Walid MOUSSA</h1>
            <h2 class="SubTitle">Développeur web full stack</h2>

                <nav class="MenuNav">
                    <ul>
                        <li><a href="#" class="LinkNav">Présentation</a></li>
                        <li><a href="#" class="LinkNav">Lorem</a></li>
                        <li><a href="{{ path('contact') }}" class="LinkNav">Contact</a></li>
                    </ul>

                </nav>

        </section>

        <section class="ContactHeader">
            <ul>
                <li>0664131026</li>
                <li>contact@walidm.xyz</li>
            </ul>
        </section>




    </section>



</header>

