
<header>
    <section class="LeftBarre">

            <div class="MenuLeft">
                <h1 class="MeTitle">Walid Moussa</h1>

                <div class="Menu">
                    <ul>
                        <li>Expériences professionnel</li>
                        <li>Formations</li>
                        <li>Loisirs</li>
                    </ul>
                </div>

            </div>

            <div class="SocialLink">
                <ul>
                    <li><img class="ImgSocialLink GitHubIcon" src="{{ asset('Imgs/github.png') }}"/></li>
                    <li><img class="ImgSocialLink" src="{{ asset('Imgs/linkedin.png') }}"/></li>
                </ul>
            </div>

    </section>

    <section class="Contact">
        <ul>
            <li>0664131026</li>
            <li>contact@walidm.xyz</li>
        </ul>
    </section>

</header>