
<section class="Presentation">

    <h2 class="Title">#Présentation</h2>

    <pre class="PresentationTxt"><p>{{ Presentation.getTexte()|raw}}</p></pre>

    {% if Mode == 'Backo' %}
      <a href="{{ path('UpdatePresentationForm')}}" class="UpdateXPButton">Modifier</a>
    {% endif %}

</section>




