<div class="SocialMenu">
    <a href="{{ app.session.get('LinkLinkedin') }}"><img class="LinkIcon" src="{{ asset('/Imgs/linkedin.png') }}"/></a>
    <a href="{{ app.session.get('LinkGithub') }}"><img class="GitHubIcon" src="{{ asset('/Imgs/GitHubLight.png') }}"/></a>
</div>
