{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Main.css') }}"/>
{% endblock %}

{% block body %}

    <p class="Presentation">Bienvenue sur mon site personnel !<br/>
    Ce site est mon "curriculum vitae", et vous présente ce que j'ai fais en tant que développeur web, et mobile.</p>

{% endblock %}
