
.Curriculum
{
    width:100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}

.CVList
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:70%;
    border-top:2px solid #1c1d21;
    margin:auto;
    flex-wrap: wrap;

}

@media only screen and (min-width: 500px)
{
    .CVList
    {
        width:100%;
    }
}

@media only screen and (min-width: 800px)
{
    .CVList
    {
        width:90%;
    }
}

@media only screen and (min-width: 1000px)
{
    .CVList
    {
        width:70%;
    }
}

