
.FormControl
{
    height:2.3rem;
    border:1px solid #e0e0e0;
    outline: none;
    margin-bottom:0.9rem;
    padding: 17px 8px 4px 6px;
    resize: none;

}

.FormGroup
{
    transition: all .3s;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    height:2.6rem;
    padding:0;
    margin-bottom: 0.3rem;
}

.FormGroupTextarea, .Textarea
{
    height:10rem;
}

.FormLabel
{
    font-size:1rem;
    color:#aaa;
    opacity:1;
    display: block;
    transform: translate3d(0, -3em, 0) scale(1);
    transform-origin: left top;
    transition: all .3s;
    margin-left:0.3rem;
    padding:0.3rem;
}

.FormLabelTextarea
{
    transform: translate3d(0, -10.5em, 0) scale(1);
}

.FormControl
{
    box-shadow: none;
    width:100%;
    border-color: #ccc;
    transition:all .5s;

}

.FormControl::placeholder
{
    color:transparent;
}

.FormControl:focus + .FormLabel,
.FormControl:not(:placeholder-shown) + .FormLabel
{
    transform: translate3d(0, -3em, 0) scale(0.55);
}

.Textarea:focus + .FormLabelTextarea,
.Textarea:not(:placeholder-shown) + .FormLabelTextarea
{
    transform: translate3d(0, -10.5em, 0) scale(0.55);
}


.FormControl:focus
{
    box-shadow:none;
    outline:none;
    border-color: #a9294f;
    box-shadow: 0 0 5px #a9294f;
}

.GoAddButton
{
    border:none;
    outline:none;
    padding:0.5rem;
    background-color: #222222;
    color:#dfdfdf;
}