
header
{
    width:100%;
    display: flex;
    flex-direction: column;
}
.HeaderBarre
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    color:#f4f4f2;
    background-color: #1c1d21;
    position: relative;

}

.Title, .SubTitle
{
    animation: AnimTitle 3s;
}

.Title
{
    padding-top:0.5rem;
}
.SubTitle
{
    font-size: 0.7rem;
    margin:0.5rem;
}
@keyframes AnimTitle
{
    from { opacity: 0; }
    to   { opacity: 1; }
}


.Left
{
    display: flex;
    align-items: center;
    position:relative;
}

.ContactHeader
{
    padding:1rem;
    background-color: #1c1d21;
}

.ContactHeader ul {
    display: flex;
    padding-right:2rem;
}



.MenuNav
{
    position:absolute;
    border-top:3px solid #1c1d21;
    border-bottom:3px solid #1c1d21;
    margin-top:0.6rem;
    animation: AnimMenuNav 5.3s;
    background-color: #FFF;
    top:6.4rem;
}

.MenuNav ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.MenuNav li
{
    padding:0.3rem;
}

.SocialMenu
{
    width:100%;
}
.LinkIcon, .GitHubIcon
{
    width:3%;
    margin:0.5rem;
}

.GithubIcon
{
    background-color: #fff;
}

@keyframes AnimMenuNav
{
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (min-width: 150px)
{

    .HeaderBarre, .Left, .ContactHeader
    {
        width:100%;
        flex-direction: column;
        text-align: center;
        padding:0.5rem;
    }
    .ContactHeader
    {
        font-size: 0.66em;
        padding:0.1rem;
        text-align: center;
    }
    .ContactHeader ul
    {
        flex-direction: column;
        text-align: center;
    }

    .MenuNav
    {
        display: none;
    }

}

@media only screen and (min-width: 300px)
{
    .MenuNav, .ContactHeader
    {
        font-size: 0.8rem;
    }

    .SocialMenu
    {
        margin-top:3rem;
        z-index: 1;
    }

    .LinkIcon, .GitHubIcon
    {
        width:8.9%;
    }

    .InfoContact
    {
        display: none;
    }
}


@media only screen and (min-width: 400px)
{
    .LinkIcon, .GitHubIcon
    {
        width:6%;
    }
}

@media only screen and (min-width: 600px)
{
    .LinkIcon, .GitHubIcon
    {
        width:4%;
    }
}
@media only screen and (min-width: 900px)
{
    .HeaderBarre, .ContactHeader, .ContactHeader ul
    {
        flex-direction: row;
        align-items: center;
    }
    .HeaderBarre
    {
        justify-content: space-between;
    }
    .ContactHeader ul
    {
        justify-content: flex-end;
    }
    .Left
    {
        flex-direction: column;
        margin-left:3rem;
    }

    .LinkIcon, .GitHubIcon
    {
        width:8%;
    }

    .InfoContact
    {
        padding-right:0.5rem;
    }

    .MenuNav
    {
        display: block;
        width:100%;
        top:7.4em;
        padding:0.3rem;
        font-size:0.7rem;
    }

    .MenuNav li
    {
        padding:0.6rem;
    }

    .InfoContact
    {
        display: block;
        font-size:0.66rem;
    }
}

@media only screen and (min-width: 1100px)
{

    .LinkIcon, .GitHubIcon
    {
        width:6%;
    }

}

@media only screen and (min-width: 1200px)
{
    .Menu
    {
        width:27%;
        padding:0.5rem;
    }


}

@media only screen and (min-width: 1300px)
{

    .Left
    {
        margin-left:0;
    }
    .MenuNav
    {
        display: block;
        width:90%;
        top:7.4em;
        padding:0.3rem;
        font-size:0.7rem;
    }


    .LinkIcon, .GitHubIcon
    {
        width:5%;
    }

}
@media only screen and (min-width: 1500px)
{
    .MenuNav
    {
        width:55%;
    }


    .LinkIcon, .GitHubIcon
    {
        width:4%;
    }
}

@media only screen and (min-width: 1600px)
{

    .LinkIcon, .GitHubIcon
    {
        width:3%;
    }
}





