main
{
    width:100%;
    margin:auto;
    margin-top:4rem;
    background-color: #1c1d21;
}
.Presentation
{
    font-weight: 400;
    text-align:center;
    line-height: 1.4rem;
    background-color: #fff;
    padding-bottom: 3rem;
}

.Portfolio
{
    width:50%;
    height:100vh;
    margin-top:5rem;
    margin:auto;
    color:#f4f4f2;
}
.Portfolio .Title
{
    text-align: center;
}

.PortfolioCategory
{
    width:100%;
    text-align: center;
    margin-top:1.5rem;
}

.Category
{
    width:calc(100% / 3);
}

.PortFolioList
{
    list-style: none;
}
.Card
{
    display: flex;
    flex-direction: column;
    border:1px solid #ccc;
    margin-top:0.5rem;
    background-color: #fff;
    color:#212121;
}

.Card .Name
{
    padding:0.4rem;
}
.PortfolioMenuLink
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top:1px solid #ccc;
    padding:0.4rem;
}
.PortfolioMenuLink img
{
    width:25px;
    cursor:pointer;
}
.Infos
{
    text-decoration:none;
}

