<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('CSS/reset.css') }}"/>
        <link rel="stylesheet" href="{{ asset('CSS/Default.css') }}"/>
        <link rel="stylesheet" href="{{ asset('CSS/Header.css') }}"/>

        {% block stylesheets %}{% endblock %}
    </head>

    <body>

    {% embed  'Partials/Header.html.twig'%}{% endembed %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
