
.BackoMain
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    margin-top:5rem;
    text-align: center;
}

.BackoMain a
{
    margin:0;
    font-weight: normal;
    line-height: 1;
    display:block;
    padding:0;
    font-size:0.8rem;
}

.Cv, .Portfolio
{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
}
.CvCard
{
    display: flex;
    flex-direction: column;
    margin-top:1rem;
}

.CvList
{
    justify-content: space-around;
}

.CvCard
{
    border:1px solid #ccc;
}

.Title
{
    font-weight: bold;
    width:100%;
}
.Company
{
    font-weight: normal;
    padding:0.5rem;
}

.StartDate, .EndDate
{
    font-size:0.7rem;
    color: #a9294f;
    padding:0.3rem;
}

.LinkAddCV, .LinkAddXP
{
    width:100%;
    margin:auto;
    text-decoration: none;
    color:#5eb5e0;
    padding-top:1rem;
    padding-bottom: 1rem;
}


/*..................PORTFOLIO................................;;;*/

.PortfolioTitle
{
    padding:0.5rem;
}
.XPListContainer
{
    margin:auto;
    font-weight: normal;
}

.XPList
{
    width:80%;
    font-size:0.66rem;
    margin:auto;
}

.XPList th
{
    width:calc(100% / 7);
    border:1px solid #222222;
    text-align: center;
    padding:0.5rem;

}
.XPList td
{
    width:calc(100% / 7);
    border:1px solid #ccc;
    padding:0.5rem;
}

.XPList .LinkProjet, .UpdateXPButton
{
    text-decoration: none;
    color:#5eb5e0;
}

.UpdateXPButton
{
    padding:0.5rem;
}


@media only screen and (min-width: 150px)
{
    .BackoMain
    {
        width:100%;
        flex-direction: column;
    }

    .CvCard
    {
        width:100%;
        text-align: center;
        font-size:0.8rem;
        padding:0.2rem;
    }

    .XPListContainer
    {
        width:100%;
    }
}

@media only screen and (min-width: 500px)
{

    .CvList
    {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


}

@media only screen and (min-width: 700px)
{
   .BackoMain
   {
       width:98%;
   }
    .CvCard
    {
        width:calc(100% / 4);
    }
}

@media only screen and (min-width: 1000px)
{
    .CvCard
    {
        width:calc(100%/3);
    }
    .XPListContainer
    {
        width:100%;
    }
}

@media only screen and (min-width: 1200px)
{
    .CvCard
    {
        width:calc(100% / 4);
    }
}


@media only screen and (min-width: 1300px)
{
    .CvCard
    {
        width:calc(100% / 6);
    }
    .XPListContainer
    {
        width:75%;
    }
}




