{% extends 'baseError.html.twig' %}

{% block title %}Page introuvable{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/NotFound.css")  }}"/>
{% endblock %}

{% block body %}

    <main class="ErrorMain">
    <h2 class="Title">Oups</h2>
    <p>Oups, il n'y a rien ici..</p>
    <a href="{{ path('main') }}">retourner à la page d'accueil ?</a>
    </main>

{% endblock %}



